{% extends "base.html" %}

{% load django_markdown %}
{% block content %}
<form action="." method="post">{% csrf_token %}
    <p>
        <input type="text" name = 'title' id="txtTitle" placeholder={{post.title}} value={{post.title}} />
    </p>
    <p>
        <textarea id='editor' name='content' rows='30' style="width:99%" value="content" placehoder={{post.content}}>
            {{post.content}}
        </textarea>
    </p>
    <p>
        <input type="text" name = 'tag' id="txtTag" value={{post.category}} />
    </p>
    <input type="submit" value="保存">
</form>

<div class="modify" algin="center">
 <form action="{%url "upload_pic" %}" method="post" enctype="multipart/form-data">
 {% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="image">
                </p>
                <input type="submit" value="Submit" />
</form>
</div><!-- /.blog-post -->
{% endblock %}